<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--COM口-->
    <add key="port1" value="COM46" />
    <add key="port2" value="COM16" />
    <add key="port3" value="COM30" />
    <add key="port4" value="COM28" />
    <!--启动选项-->
    <add key="StartOption" value="4" />
    <!--DA文件-->
    <add key="DAFile" value="C:\Users\steed\Desktop\L96NR01A02SV01\L96NR01A02SV01\MTK_AllInOne_DA_MT3333.bin" />
    <!--ROM文件-->
    <add key="ROMFile" value="C:\Users\steed\Desktop\L96NR01A02SV01\L96NR01A02SV01\L96NR01A02SV01.bin" />
    <!--数据库Server IP地址-->
    <add key="ServerIP" value="192.168.10.10" />
    <!--FTP Server-->
    <add key="FTPServer" value="192.168.10.10" />
    <add key="FTPPort" value="21" />
    <add key="GPSFWDir" value="/" />
    <add key="FTPUsername" value="xx" />
    <add key="FTPPassword" value="Cx4PROjpMY98BQ9u5m44rrpQU9CXCOHz2H6eS7OU1Mzk+XbIWFc8G7SlPOkt9HxPQb1NOfd3zuSz+qGW63KALODcyfJmdzTfEZI+/JSNh2htTC/Pb69AJppUJjP6GZke1Qe7kaIUP4QjZqJh4Mku5X27Cr3Q51yqgtV9RFS4om0=" />
    <!--PLC配置-->
    <add key="PLCPort" value="COM2" />
    <add key="Jig1Channel" value="1" />
    <add key="Jig2Channel" value="2" />
    <add key="Jig3Channel" value="3" />
    <add key="Jig4Channel" value="4" />
    <!--Manual: 手动; SemiAuto: 半自动; Robot: 机器人-->
    <add key="PLCMode" value="Manual" />
    <!--Cognex扫码枪设置-->
    <add key="Jig1ScanIP" value="169.254.25.46" />
    <add key="Jig1ScanPort" value="23" />
    <add key="Jig1CalibrationAngle" value="144" />
    <add key="Jig2ScanIP" value="169.254.25.47" />
    <add key="Jig2ScanPort" value="23" />
    <add key="Jig2CalibrationAngle" value="146" />
    <add key="Jig3ScanIP" value="169.254.25.48" />
    <add key="Jig3ScanPort" value="23" />
    <add key="Jig3CalibrationAngle" value="148" />
    <add key="Jig4ScanIP" value="169.254.25.49" />
    <add key="Jig4ScanPort" value="23" />
    <add key="Jig4CalibrationAngle" value="149" />
    <add key="TriggerCmd" value="SCAN" />
    <add key="CmdFooter" value="\r\n" />
    <!--测试选项(1: 下载 2：测试 3：下载&测试)-->
    <add key="TestOption" value="1" />
    <!--测试仪器(1: SMU200 2: IQ2010)-->
    <add key="GPSInstrument" value="1" />
    <!--GPIB卡号和地址-->
    <add key="GPIBNumber" value="0" />
    <add key="GPIBAddress" value="28" />
    <!--波形文件-->
    <add key="WaveFilePath" value="" />
    <!--校准功率起始值-->
    <add key="BasicPowerH" value="-72" />
    <add key="BasicPowerL" value="-79" />
  </appSettings>
</configuration>